@import"/flexbox/standard.css";

.box {
    width: 100px;
    height: 100px;
}

#parent {
    display: flex;
    justify-content: space-between;

    /*justify-content: flex-start;
    justify-content: center;
    justify-content: flex-end;
    justify-content: space-between;*/

    align-items: flex-start;
    align-items: center;

}